
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #1c3349; /* 初始背景色 */
  color: #ffffff; /* 白色文字 */
  font-family: 'Arial', sans-serif; /* 使用 Arial 字体 */
  transition: background-color 1s ease; /* 添加背景色渐变过渡效果 */
}

@keyframes changeColor {
  0% {
    background-color: #1c3349; /* 初始颜色 */
  }
  50% {
    background-color: #de8d95; /* 变化后的颜色 */
  }
  100% {
    background-color: #1c3349; /* 回到初始颜色 */
  }
}

body.condition-met {
  animation: changeColor 0.7s; 
}


button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50; 
  color: #ffffff; 
  border: none;
  border-radius: 5px;
}

#selectButton{
  margin-top: 30px;
}

label {
  font-size: 18px; /* 調整標籤字體大小 */
  margin-bottom: 8px;
}

.banner {
  background-color: #4CAF50;
  padding: 3px;
  display: flex; /* 使用 Flex 布局 */
  justify-content: space-between; /* 将子元素分散对齐，确保最左边和最右边 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.banner button {
  background-color: #4CAF50;
  padding: 8px 12px; 
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* 添加背景色变化的动画效果 */
}



.banner button:hover {
  background-color: #1c3349; /* 懸停時的背景色 */
}


select {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50; 
  color: #ffffff; 
  width: 400px; 
}

select:focus {
  outline: none;
  box-shadow: 0 0 5px #ffffff; /* 白色陰影 */
  max-height: 200px; /* 選單被選擇時高度展開為 200px（根據需求調整） */
}

select option {
  background-color: #4CAF50; /* 綠色背景 */
  color: #ffffff; /* 白色文字 */
  transition: max-height 0.5s ease; /* 添加動畫效果 */
}
 

#wordsdisplay {
  font-size: 24px;
  text-align: center;
  margin-bottom: 200px;
}
  
#wordsinput {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  border: 2px solid #4CAF50; 
  border-radius: 5px; 
  padding: 10px; 
  background-color: white; 
  color: #4CAF50; 
  outline: none; 
}

#wordsinput::placeholder {
  color: #8F8F8F; 
}

  #time {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px; 
  }

#selectPage,
#testPage,
#endPage
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:20px;
  opacity: 0; 
  animation: fadeInOut 0.5s ease-in-out forwards ;
}

#testPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes fadeInOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#endPage-button{
  display: row ;
  justify-content: space-between ;
  gap:100px ;
}

@keyframes floatUp {
  0% {
    transform: translateY(100%); 
    opacity: 0; 
  }
  50% {
    opacity: 1; /* 透明度为1，完全不透明 */
  }
  100% {
    transform: translateY(0%); /* 最终位置在顶部 */
    opacity: 0; /* 透明度为0，完全透明 */
  }
}

.float-up {
  animation: floatUp 2s ease-in-out forwards; /* 动画时长为2秒，使用 ease-in-out 缓动函数 */
}

#correct {
  position: absolute;
  font-size: 20px;
  opacity: 0;
}

#revise {
  position: absolute ;
  font-size : 20px ;
  opacity : 1 ;
}