body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#wordsdisplay {
  font-size: 24px; 
  margin-bottom: 20px; 
}

#wordsinput {
  padding: 10px; 
  font-size: 16px; 
}

#myScore {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 16px;
}

#yourScore {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 16px;
}

#time {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  position: absolute;
  top: 50px;
}