body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#wordsdisplay {
  font-size: 24px; 
  margin-bottom: 20px; 
}

#wordsinput {
  padding: 10px; 
  font-size: 16px; 
}

#myScore {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 16px;
}

#yourScore {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 16px;
}

#time {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  position: absolute;
  top: 50px;
}

.banner {
  background-color: #4CAF50;
  padding: 10px;
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  width: 99%;
  z-index: 1000; /* 確保 banner 在最上層 */
}

.banner button {
  background-color: #f8f8f8;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

#startMatchPage {
  margin-top: 40px; /* 加上一個 margin 以避免被 banner 覆蓋 */
}